node_modules
.DS_STORE
_dist
_test
_docs
.firebase
functions/index.js
functions/templates
functions/node_modules
functions/posts
functions/img
*.log
*.err
cypress/screenshots
cypress/videos
.env
output